<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <h1>Students</h1>
    <a href="/">Home</a>

    <table border="1" cellpadding="6">
        <thead>
            <tr>
                <th>Student No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>State</th>
                <th>Major</th>
                <th>Class</th>
                <th>GPA</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td>{{ s[3] }}</td>
                <td>{{ s[4] }}</td>
                <td>{{ s[5] }}</td>
                <td>{{ s[6] }}</td>
                <td>{{ s[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
